@media screen and (min-width: 0) {
    .app {
        grid-template-rows: 150px auto auto;
    }
    .cabecalho {
        justify-content: center;
    }

    .menu__lista {
        .menu__item {
            height: 150px;
            justify-content: center;
            align-items: center;
            display: flex;
            flex-direction: column;
        }
    }

    .destaques__secundario:nth-child(n) {
        display: none;
        grid-row: 0;
        grid-column: 0;
    }

    .destaques__principal,
    .destaques__categorias {
        grid-column: 1/5;
    }

    .populares__conteudo {
        flex-direction: column;
    }

    .populares__itens .populares__conteudo .populares__card {
        width: 100%;
        margin: 1.5rem auto;
        grid-template-rows: 200px auto;
    }
}

@media screen and (min-width: 668px) {
    .cabecalho {
        justify-content: initial;
    }

    .menu__lista {
        .menu__item {
            height: 50px;
            justify-content: initial;
            align-items: center;
            display: flex;
            flex-direction: row;
        }
    }

    .populares__conteudo {
        flex-direction: row;
        justify-content: center;
    }

    .populares__itens .populares__conteudo .populares__card {
        margin: 0 1rem 1.5rem 0;
        width: calc(50% - 1rem);
        grid-template-rows: 200px auto;
    }
}

@media screen and (min-width: 900px) {
    .destaques__secundario:nth-child(n) {
        display: flex;
        grid-row: initial;
        grid-column: initial;
    }

    .destaques__principal,
    .destaques__categorias {
        grid-column: 1/3;
    }

    .destaques__categorias{
        grid-column: 1/5;
    }

    .populares__itens .populares__conteudo .populares__card {
        margin: 0 1rem 1.5rem 0;
        width: calc(33.3% - 1.5rem);
        grid-template-rows: 200px auto;
    }
}

@media screen and (min-width: 1200px) {
    .populares__itens .populares__conteudo .populares__card {
        margin: 0 1rem 1.5rem 0;
        width: calc(20% - 1rem);
        grid-template-rows: 200px auto;
    }
}
